<% provide :stock_id, @stock.symbol %>
<p id="notice"><%= notice %></p>

<div id="<%= @stock.symbol %>">  <!-- Wrap in container with id set to the stock symbol -->
  <p>
    <strong>Symbol:</strong>
    <%= @stock.symbol %>
  </p>

  <p>
    <strong>Price:</strong>
    <span id="price"><%= @stock.price %></span>
  </p>
</div>

<%= link_to 